{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="jumbotron shadow-sm p-5 mb-5 rounded mt-3">
  <h2 class="display-4"> Employee list</h2>
  <a class="btn btn-outline-info btn-lg mb-2" href="{% url 'payroll:employee_create' %}" role="button"><i class="fas fa-user-plus"> </i> Add new employee</a>
  <a class="btn btn-outline-primary btn-lg mb-2" href="{% url 'payroll:employee_upload' %}">Bulk Employee Upload</a>
  <hr>
  <table class="table table-hover h-100 p-3" id="table_id" class="dispaly">
    <thead>
      <tr>
        <th scope="col">SN</th>
        <th scope="col">Image</th>
        <th scope="col">Employee ID</th>
        <th scope="col">Name</th>
        <th scope="col">Department</th>
        <th scope="col">Designation</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in employee_list %}
      <tr>
        <td scope="row">{{ forloop.counter }}</td>
        <td> <a href="{{employee.img.url}}"> <img src="{{employee.img.url}}" width="30" alt=""></a> </td>
        <td> {{employee.employee_id }}</td>
        <td> <a href="{% url 'payroll:employee_detail' pk=employee.pk %}">{{employee.first_name}} {{employee.last_name | default:""}}
            {% if employee.department_head == True %}
            <i class="far fa-star"></i>
            {% endif %}
        </td>
        <td> {{employee.department }}</td>
        <td> {{employee.designation }}</td>
        <td> <a href="{% url 'payroll:employee_update' pk=employee.pk %}"><i class="fas fa-edit"> </a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
{% block script %}
<script>
  $(document).ready(function() {
    $('#table_id').DataTable();
  });
</script>
{% endblock %}
