{% extends "base.html" %}
{% block content %}
{% load humanize %}
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/stylesheet.css'%}">
<style>
  @media print{@page{size:landscape}}
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
</style>
  <p class="new_p"> <strong> Nepal Can</strong> </p>
  <p class="new_p2"> <strong>Pay Details of the Employee-Bank for {{data.salary_month.month}} {{data.salary_month.year}}</strong> </p>
    <table class="new_table">
      <thead>
        <tr>
          <th scope="col">SN</th>
          <th scope="col">Emplyee Name</th>          
          <th scope="col">Bank Name</th>
          <th scope="col">Bank AC No.</th>
          <th scope="col">Income Fixed Component</th>
          <th scope="col">Income Variable Component</th>
          <th scope="col">Days on Leave without pay for the period</th>
          <th scope="col">Salary Payable Days For the period</th>
        </tr>
      </thead>
      <tbody>
        {% for i in datas %}
        <tr>
          <td scope="row">{{ forloop.counter }}</td>
          <td> {{i.0.employee}}</td>
          <td> {{i.0.bank_name}}</td>

          <td > {{i.0.bank_ac}} </td>
          <td> {{i.0.gross_pay}}</td>
          <td> {{i.1}} </td>
          <td> {{i.4.lwop}}</td>
          <td> {{i.4.pay_days}} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
