{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

  <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}">
  <title>NCM HR</title>
</head>
<body>
<div class="container mycontent">
<div class="jumbotron mt-3 p-5">
  <!-- <div >
    <img src="{% static 'images/NCMLogo.png' %}" alt="aspen-logo"  style="width:300px;" >
    <p> Tinkune, Kathmandu Nepal</p>
  </div> -->

  <div class="card-body">
    <div class="text-center mb-5">
      <h3 class=" payslip_h3">PAYSLIP <br> <small class="text-muted">For the month of {{report_detail_view.payroll_month.month}} {{report_detail_view.payroll_month.year}}</small></h3>
    </div>
    <dl class="row">
      <dt class="col-sm-3">Employee Name </dt>
      <dd class="col-sm-8">{{report_detail_view.full_name}}</dd>

      <dt class="col-sm-3">Work Permit</dt>
      <dd class="col-sm-8">{{report_detail_view.work_permit }}</dd>

    </dl><br>

      <!-- <dl class="row">
        <dt class="col-sm-3 mt-2"></dt>
        <dd class="col-sm-1"></dd>
        <dd class="col-sm-1"> <strong> Days </strong></dd>
        <dd class="col-sm-1"> <strong> Base </strong></dd>
        <dd class="col-sm-1"> <strong> Allowance </strong></dd>
        <dd class="col-sm-1"> <strong> Transport </strong></dd>
        <dd class="col-sm-1"> <strong> Other </strong></dd>
        <dd class="col-sm-1"> <strong> Total </strong></dd>
      </dl> -->
      
      <dl class="row">
        <dd class="col-sm-3 mt-2"> Basic </dt>
        <dd class="col-sm-1"> : </dd>
        <dd class="col-sm-1"> {{empData.40}} </dd>        
      </dl>

      <dl class="row">
        <dd class="col-sm-3 mt-2"> Housing</dt>
        <dd class="col-sm-1"> : </dd>
        <dd class="col-sm-1"> {{empData.41}} </dd>        
      </dl>

      <dl class="row">
        <dd class="col-sm-3 mt-2"> Transportation</dt>
        <dd class="col-sm-1"> : </dd>
        <dd class="col-sm-1"> {{empData.42 }} </dd>
        
      </dl>

      <dl class="row">
        <dd class="col-sm-3 mt-2"> Other</dt>
        <dd class="col-sm-1"> : </dd>
        <dd class="col-sm-1"> {{empData.43 }} </dd>        
      </dl>
      

      <dl class="row">
        <dd class="col-sm-3 mt-2"> LWOP Deduction</dt>
        <dd class="col-sm-1"> : </dd>
        <dd class="col-sm-1"> {{empData.14.0.lwop }} </dd>        
      </dl>

      <dl class="row">
        <dd class="col-sm-3 mt-2"> ( Paid Days : {{empData.45}} / {{empData.14.0.month.days }} )</dt>           
      </dl>

    <dl class="row light_background">
      <dt class="col-sm-3 mt-2"> GROSS PAY </dt>
      <dt class="col-sm-1">:</dt>
      <dt class="col-sm-8 mt-2"> {{empData.44}} </dd>
    </dl>
  {% if empData.3 %}
    <dl class="row">
      <dt class="col-sm-3 mt-2"><h5> Additional Pay </h5></dt>
      <dd class="col-sm-9"></dd>

      {% for add in empData.3 %}
        <dd class="col-sm-3"> {{add.additional}} </dt>
        <dd class="col-sm-1">:</dt>
        <dd class="col-sm-8">{{add.amount}}</dd>
      {% endfor %}
    </dl>

    <!-- <dl class="row light_background">
      <dt class="col-sm-3 mt-2"> TOTAL ADDITIONAL</dt>
      <dt class="col-sm-1">:</dt>
      <dt class="col-sm-8 mt-2">{{empData.0}}</dt>
    </dl> -->
  {% endif %}


  {% if empData.4 %}
    <dl class="row">
      <dt class="col-sm-3 mt-2"><h5> Deduction </h5></dt>
      <dd class="col-sm-9"></dd>
      {% for ded in empData.4 %}
      <dd class="col-sm-3">{{ded.deduction}} </dt>
      <dd class="col-sm-1">:</dt>
      <dd class="col-sm-8"> ( {{ded.amount}} )</dd>
      {% endfor %}
    </dl>


    <!-- <dl class="row light_background">
      <dt class="col-sm-3 mt-2"> TOTAL DEDUCTION </dt>
      <dt class="col-sm-1">:</dt>
      <dt class="col-sm-8 mt-2"> {{empData.1}} </dd>
    </dl><hr> -->
    {% endif %}

    <dl class="row">
      <dt class="col-sm-3 mt-2"><h5> <strong>NET PAY </strong></h5></dt>
      <dt class="col-sm-1">:</dt>
      <dd class="col-sm-8 mt-2"><h5> <strong> {{empData.2}} </strong> </h6></dd>
    </dl> <hr>

    
  </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<!-- <script type="text/javascript">
  $(document).ready( function () {
  window.print();
})
</script> -->
</body>
</html>
